* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.App {
  text-align: center;
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.card {
  display: flex;
  width: 25%;
  margin: 10px;
}

.card-img-top {
  height: 350px;
}

h5 {
  font-family: "Over the Rainbow", cursive;
  font-weight: 800;
}

h6 {
  margin-top:5px;
  font-family: "Over the Rainbow", cursive;
  font-weight: 600;
}

p {
  margin-top:15px;
  font-family: "Over the Rainbow", cursive;
  font-weight: 400;
  width: 19rem;
}
